# Server configuration
PORT=5001
NODE_ENV=developmant

# Database configuration (Required)
DATABASE_URI=mongodb+srv://manbazar:[EMAIL_ADDRESS]/manbazar?appName=Cluster0

# Authentication configurations
JWT_SECRET=your_jwt_secret_here
JWT_ACCESS_SECRET=your_jwt_access_secret_here
JWT_ACCESS_EXPIRES_IN=1d

# Admin seeding credentials
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=12345678

# Courier API settings (Optional/Fill if using)
STEADFAST_API_KEY=frhjk
STEADFAST_API_SECRET=dfghjk

PATHAO_CLIENT_ID=dfghjkl
PATHAO_CLIENT_SECRET=dfghjkl
PATHAO_USERNAME=sdfghjkl
PATHAO_PASSWORD=sdfghjkl
PATHAO_STORE_ID=sdfgyhjkl

REDX_API_KEY=

# Cloudinary Credentials
CLOUD_NAME=dngdybwon
API_KEY=949838748171762
API_SECRET=Cgj-GBpKXX9nZt_2aavBY_SXA4E

